 
body {
	background-color: blueviolet;
 }

 .fundo{
   width: 400px;
   height: 100px;
   background-image: url(logolc.png);
   background-repeat: no-repeat;
   background-position: bottom right;
   background-color: blueviolet;
 }
 